/*************************footer*/

.button.is-primary
{
  background-color: #0d6a3f;
}


.content a:not(.button):visited
{
  color:#646464;
}

.footer
{
  background-color: #ffffff;
  border-top: 3px solid #f47521;
}

.bfooter1{
  width: 124px;
}

.bfooter2{
  width: 124px;
  background-color: #0d6a3f;
  color: white;
}

/*******************fin footer ***************/
