/*******************************************************************************
Les boutons
*******************************************************************************/
#button0 {
    background-color: #ffffff;
      width: 116px;
}

#button01 {
    background-color: #ffffff;
      width: 116px;
}

#button1 {
    background-color: #F4742B;
    /*#F4742B orange*/
    color: white;
    width: 116px;
}

#button2 {
    background-color: #BA172A;
    /*#BA172A rouge*/
      width: 116px;
}

#button3 {
    background-color: #006A43;
    /*#006A43 vert*/
      width: 116px;
}

#button4 {
    background-color: #BA172A;
    /*#BA172A rouge*/
      width: 116px;
}

#button5 {
    background-color: #006A43;
      width: 116px;
}

.nav{
  z-index: 1;
}

.titrecanturladrive{
  font-size: xx-large;
  margin-left: 10px;
}
